* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: #94d2bd;
}

.container {
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: cursive;
}

.add-task {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.add-task input {
    flex: 1;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 6px;

}


div:hover {
    background-color: #e9edc9;

}


.add-task button {
    padding: 12px 20px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.add-task button:hover {
    background: #45A049;
}

#taskList {
    list-style: none;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fafafa;
    padding: 12px;
    border: 1px solid #eee;
    border-radius: 6px;
    margin-bottom: 10px;
}

.task-item.completed .text {
    text-decoration: line-through;
    color: #888;
}

.actions button {
    margin-left: 8px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.actions .complete-btn {
    background: #2196F3;
    color: white;
}

.actions .delete-btn {
    background: #f44336;
    color: white;
}